<div class='sharedComponent'>
  <span class='sharedComponent__title bigFont bigFont--bold bigFont--gray'>Sign up</span>
  <form class='sharedComponent__form regularFont--bold regularFont--gray' [formGroup]='signUpForm' (ngSubmit)='signUp()'>
    <label> Email <input class='regularFont--thin regularFont--Darkgray' type="email" formControlName='email' required> </label>
    <label> Password <input type="password" formControlName='password'> </label>
    <label> Repeat the password <input type="password" formControlName='repeatedPassword'> </label>
    <button class='button button--fullWidth' type='submit'>SIGN UP</button>
  </form>
  <a routerLink='/sign-in' >Already have an account?</a>
  <div> {{statusMessage}} </div>
</div>
