<div class='sharedComponent'>
  <span class='sharedComponent__title bigFont bigFont--bold bigFont--gray'>Sign in</span>
  <form class='sharedComponent__form regularFont--bold regularFont--gray' [formGroup]='signInForm' (ngSubmit)='signIn()'>
    <label> Email <input class='regularFont--thin regularFont--Darkgray' type="email" formControlName='email' required> </label>
    <label> Password <input type="password" formControlName='password'> </label>
    <button class='button button--fullWidth' type='submit'>SIGN IN</button>
  </form>
  <a routerLink='/sign-up' >Create a new account</a>
  <div> {{statusMessage}} </div>
</div>
